language: java

sudo: false

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

jdk:
  - oraclejdk8

os:
  - linux

addons:
  sonarcloud:
    organization: $key
    token:
      secure: $token

services:
  - mongodb

script:
  - mvn -f ./back-end/pom.xml test
  - mvn -f ./back-end/pom.xml org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
  - mvn -f ./back-end/pom.xml -P codecov cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master
    - dev
