swagger: '2.0'
info:
  version: 1.0.0
  title: Quizz movie
  description: 'https://github.com/paul604/quizz-movie'
  contact:
    name: Support
    email: NC
    url: https://github.com/paul604/quizz-movie/issues
  license:
    name: MIT
    url: https://github.com/paul604/quizz-movie/blob/master/LICENSE
host: lp-miar-groupe01-cloned-paul604.c9users.io/quiz-omdb-1.0.0
basePath: /
tags:
  - name: API

paths:
  /:
    get:
      summary: Home
      tags:
        - API
      responses:
        '200':
          description: OK
          schema:
            properties:
              server:
                type: string
                example: OK
  /question:
    get:
      summary: Get a new question
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: Token
          description: The token of the user
          type: string
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Question'
        '400':
          description: Error not defined
          schema:
            properties:
              error:
                type: string
                enum: [error not defined]
                description: msg of error
        '405':
          description: Invalid Token
          schema:
            $ref: '#/definitions/405'
  /response:
    post:
      summary: Verify an answers
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: Token
          description: The token of the user
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            properties:
              result:
                type: boolean
        '400':
          description: Error not defined
          schema:
            properties:
              error:
                type: string
                enum: [error msg]
                description: msg of error
        '405':
          description: Invalid Token
          schema:
            $ref: '#/definitions/405'
  /login:
    post:
      summary: Login a user
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: login
          description: login
          required: true
          schema:
            required:
              - Login
              - Password
            properties:
              Login:
                type: string
                example: login
                description: The login of the user
              Password:
                description: The password of the user
                type: string
                example: pwd
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: Login or password invalid
          schema:
            properties:
              error:
                type: string
                enum: [Login or password invalid]
                description: msg of error
  /register:
    post:
      summary: Register a user
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Register
          description: Register
          required: true
          schema:
            required:
              - Login
              - Password
            properties:
              Login:
                type: string
                example: login
                description: The future login of the user
              Password:
                description: The future password of the user
                type: string
                example: pwd
      responses:
        '200':
          description: OK
          schema:
            properties:
              result:
                type: string
                enum: [ok]
        '409':
          description: Login already used
          schema:
            properties:
              error:
                type: string
                enum: [login already used]
                description: msg of error
  /disconnect:
    post:
      summary: Disconnect user
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: Token
          description: The token of the user
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            properties:
              result:
                type: string
                enum: [ok]
        '405':
          description: Invalid Token
          schema:
            $ref: '#/definitions/405'
  /goodanswers:
    get:
      summary: Return the number of good answers of the user
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: Token
          description: The token of the user
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            properties:
              goodanswers:
                type: number
                description: number of good answers
        '405':
          description: Invalid Token
          schema:
            $ref: '#/definitions/405'
  /answers:
    get:
      summary: Return the number of answers of the user
      tags:
        - API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: Token
          description: The token of the user
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            properties:
              answers:
                type: number
                description: number of answers
        '405':
          description: Invalid Token
          schema:
            $ref: '#/definitions/405'
definitions:
  Token:
    type: object
    required:
      - token
    properties:
      token:
        type: string
        example: >-
          eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJsb2dpbiJ9.7crGOpfi96uUsmDAZoPx-PAFktRU5vmQKIduEgx2PHz_K5NGC4uyvkX_PPDqS1_NZ2v9xJHtaWTQx8r-9Qa3zA
  Question:
    type: object
    required:
      - value
    properties:
      question:
        type: string
        example: When the movie XXX has been released?
      poster:
        type: string
        enum: ['http://example.com/example.png', ""]

  405:
    type: object
    properties:
      error:
        type: string
        enum: [error Invalid Token]
        description: msg of error
