<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title></title>
  </head>
  <body>
    <div id="index">

      <div class='header'>
        <div v-if='body === "quizTemp"'>
          <button onClick={{index.toStats()}}>Statistics</button>
        </div>
        <div v-else-if='body === "statsTemp"'>
          <button onClick={{index.toQuiz()}}>Quiz</button>
        </div>
        <div v-else-if='body === "legalTemp"'>
          <button onClick={{index.toPrecedent()}}>Back</button>
        </div>
        <div v-else>
          <button class='invisible'></button>
        </div>
        <h1>Quiz omdb</h1>
        <div v-if='body === "loginTemp"'>
          <button onClick={{index.toRegister()}}>Register</button>
        </div>
        <div v-else-if='body === "registerTemp"'>
          <button onClick={{index.toLogin()}}>Login</button>
        </div>
        <div v-else-if='body != "legalTemp"'>
          <button onClick={{index.toLogin()}}>Log out</button>
        </div>
        <div v-else>
            <button class='invisible'></button>
        </div>
      </div>



      <div class='body'>

        <div v-if="body === 'loginTemp'">
          <h2>Login</h2>
          <form class='' action='javascript:index.toQuiz()'>
            <table>
              <tr>
                <td>Login:</td>
                <td><input v-model="login" type='text' name='login' value='' placeholder='Login'></td>
              </tr>
              <tr>
                <td>Password:</td>
                <td><input v-model="password" type='password' name='password' value='' placeholder='Password'></td>
              </tr>
            </table>
            <input type='submit' value='Login'></td>
          </form>
        </div>

        <div v-else-if="body === 'registerTemp'">
          <h2>Register</h2>
          <form class='' action='javascript:index.toQuiz()'>
            <table>
              <tr>
                <td>Login:</td>
                <td><input v-model="login" type='text' name='login' value='' placeholder='Login'></td>
              </tr>
              <tr>
                <td>Password:</td>
                <td><input v-model="password" type='password' name='password' value='' placeholder='Password'></td>
              </tr>
            </table>
            <input type='submit' value='Register'></td>
          </form>
        </div>

        <div v-else-if="body === 'quizTemp'">
          <div class="question">
            <div v-if="questionPicture != ''">
              <img v-bind:src="questionPicture" alt="the movie's poster" height="290" width="264">
            </div>
            <div class="question" v-html="question"></div>
          </div>
          <form class='' action='javascript:index.answerQuestion()'>
            <table>
              <tr>
                <td>Answer:</td>
                <td><input v-model="answer" type='text' name='answer' value='' placeholder='Your answer'></td>
              </tr>
              <tr>
                <td>Score:</td>
                <td class="score">{{index.score}}</td>
              </tr>
            </table>
            <input type='submit' value='Validate'></td>
          </form>
        </div>

        <div v-else-if='body === "statsTemp"'>
          <h2>Statistics of {{login}}</h2>
          <table>
            <tr>
              <td>Total score:</td>
              <td>{{index.totalScore}}</td>
            </tr>
            <tr>
              <td>Success rate:</td>
              <td>{{index.successRate}}%</td>
            </tr>
          </table>
        </div>

        <div v-else-if='body === "legalTemp"'>
          <h2>Legal</h2>
          <table>
            <thead>
              <tr>
                <th align='center'>Name</th>
                <th align='center'>Type</th>
                <th align='center'>License</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align='center'>Repot GitHub</td>
                <td align='center'></td>
                <td align='center'><a href='https://github.com/paul604/quiz-omdb/blob/master/LICENSE'>MIT</a></td>
              <tr>
              </tr>
                <td align='center'><a href='https://www.omdbapi.com/' rel='nofollow'>OMDB</a></td>
                <td align='center'>API Rest</td>
                <td align='center'><a href='https://creativecommons.org/licenses/by-nc/4.0/' rel='nofollow'><img src='https://camo.githubusercontent.com/dd9799f5ecc493bb89b85a52ba7f25c002382e65/68747470733a2f2f6d6972726f72732e6372656174697665636f6d6d6f6e732e6f72672f70726573736b69742f627574746f6e732f38387833312f7376672f62792d6e632e737667' alt='cc-BY-NC' data-canonical-src='https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc.svg' style='max-width:100%;'></a></td>
              </tr>
              <tr>
                <td align='center'><a href='https://junit.org/junit4/' rel='nofollow'>junit</a></td>
                <td align='center'>API</td>
                <td align='center'><a href='https://junit.org/junit4/license.html' rel='nofollow'>Eclipse Public License - v 1.0</a></td>
              </tr>
              <tr>
                <td align='center'><a href='https://projects.spring.io/spring-boot/' rel='nofollow'>SpringBoot</a></td>
                <td align='center'>API</td>
                <td align='center'><a href='https://github.com/spring-projects/spring-boot/blob/master/LICENSE.txt'>Apache License 2.0</a></td>
              </tr>
              <tr>
                <td align='center'><a href='https://github.com/jwtk/jjwt'>jjwt</a></td>
                <td align='center'>API</td>
                <td align='center'><a href='https://github.com/jwtk/jjwt/blob/master/LICENSE'>Apache License 2.0</a></td>
              </tr>
              <tr>
                <td align='center'><a href='https://www.mongodb.com' rel='nofollow'>mongodb</a></td>
                <td align='center'>API</td>
                <td align='center'><a href='http://www.gnu.org/licenses/agpl-3.0.html' rel='nofollow'>GNU AGPL v3.0.</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


      <div class="footer">
        <a href="https://github.com/paul604/quiz-omdb">
          <img src="img/GitHub-Mark-Light-32px.png" alt="github's link to source code">
        </a>
        <button onClick={{index.toLegal()}}>Legal</button>
        <button class='invisible'></button>
      </div>

    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
