html, body, #index {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

#index {
  /*flex-container*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

div.header, div.footer {
  min-height: 60px;
  color: #FFFFFF;
  background-color: #1F0F02;
  width: 100%;
  /*flex-container*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  /*flex-item*/
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}

div.header h1 {
  text-align: center;
}

div.header > div, div.footer > div {
  display: inline-block;
  width: 191px;
  text-align: center;
}

div.header > div > *, div.footer > div > * {
  display: inline-block;
}

button, input[type=submit] {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-family: Arial;
  font-size: 15px;
}

div.header button {
  color: #1F0F02;
  background-color: #FF7400;
  border-radius: 12px;
  padding: 12px;
}

div.header button:hover {
  color: #302013;
  background-color: #FF8511;
}

div.footer button {
  color: #FFFFFF;
  background-color: #1F0F02;
}

div.footer button:hover {
  text-decoration: underline;
}

button.invisible {
  background: transparent;
  background-color: #1F0F02 !important;
  border: none !important;
  font-size: 0;
  cursor: auto !important;
}

div.body {
  color: #1F0F02;
  background-color: #FF7400;
  border-radius: 6vw;
  padding: 4vw;
  text-align: center;
  /*flex-container*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  /*flex-item*/
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

div.body > * {
  display: inline-block;
  /*flex-item*/
  flex: 0 1 auto;
  align-self: center;
}

div.body input[type=submit] {
  color: #FF7400;
  background-color: #1F0F02;
  border-radius: 12px;
  padding: 12px;
}

div.body input[type=submit]:hover {
  color: #FF8511;
  background-color: #302013;
}

div.body input[type=text], div.body input[type=password] {
  color: #1F0F02;
  font-weight: bold;
  font-family: Arial;
  font-size: 15px;
  background-color: #FF9622;
  border-radius: 12px;
  border: none;
  padding: 12px;
}

div.question {
  background-color: #DF5400;
  border-radius: 1vw;
  padding: 1vw;
}

table {
  border-spacing: 8px;
}

.score {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}
